<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <title>RunningMap</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link href="/service/lib/snackbar/snackbar.css" rel="stylesheet" />
    <link href="/service/css/app.css" rel="stylesheet" />
    <link href="/service/css/favorite.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-200">
    <div class="flex justify-center items-center">
      <div class="py-10">
        <div
          class="max-w-md width-350px rounded bg-white shadow-lg p-6 width-450px relative h-full"
        >
          <div class="font-bold text-xl mb-2 text-center">즐겨찾기</div>
          <div class="px-2 py-4">
            <ul id="favorite-list" class="w-full overflow-y-auto"></ul>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/service/js/App.js"></script>
    <script type="module" src="/service/js/views/Favorite.js"></script>
  </body>
</html>
