<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8"/>
  <title>RunningMap</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
        name="viewport"/>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
  <link href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css"
        rel="stylesheet"/>
  <link href="/service/css/app.css" rel="stylesheet"/>
</head>
<body class="bg-gray-200 h-screen">
<div class="flex justify-center items-center app-container py-10">
  <div class="max-w-md width-350px rounded bg-white shadow-lg p-6">
    <div class="font-bold text-xl mb-4 text-center">나의 정보</div>
    <div class="mb-4">
      <div class="block text-gray-600 font-bold text-sm">email</div>
      <div class="block text-gray-700 font-bold text-sm mb-2">eastjun@woowahan.com</div>
    </div>
    <div class="mb-4">
      <div class="block text-gray-600 font-bold text-sm">name</div>
      <div class="block text-gray-700 font-bold text-sm mb-2">eastjun</div>
    </div>
    <a
      class="w-full text-sm text-center bg-yellow-500 hover:bg-yellow-400 hover:text-gray-700 text-gray-800 font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      href="/mypage-edit.html"
      type="button"
    >
      수정하기
    </a>
    <div class="mt-5 flex subway-lines-container relative overflow-y-auto">
      <div class="w-full overflow-y-auto" id="subway-line-list"></div>
    </div>
  </div>
</div>
<script src="/service/js/App.js" type="module"></script>
</body>
</html>
